.container {
  max-width: 140rem;
  padding: 4.2rem 2.4rem;
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  gap: 3.2rem;
}

.container .active {
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}
